.cats {
  font-size: 18px;
  list-style: none;
  padding-left: 0;
  text-align: center;
  text-transform: uppercase;

  .cat-item-all,
  .cat-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: .5rem;
    }

    a {
      color: $gray-dark;
      text-decoration: none;

      &:focus,
      &:hover {
        border-bottom: 2px solid $red;
        color: $red;
      }
    }
  }

  .current-cat {
    a {
      color: $red;
    }
  }
}
