//
//** Comments
//

#comments {
  padding: 2em 0 .5em;
}

.comments-title {
  font-size: 20px;
}

.comment-list,
.comment-list .children {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comment-list {
  li::before {
    display: none;
  }
}

.comment-body {
  margin-left: 65px;
}

.comment-author {
  margin-bottom: .4em;
  position: relative;
  z-index: 2;

  .avatar {
    height: 50px;
    left: -65px;
    position: absolute;
    width: 50px;
  }

  .says {
    display: none;
  }
}

.comment-meta {
  margin-bottom: 1.5em;
}

.comment-metadata {
  font-size: 13px;

  .comment-edit-link {
    display: none;
  }

}

.comment-content {
  margin-bottom: 4em;
}

.comment-reply-link .icon {
  height: 1em;
  margin-right: 5px;
  width: 1em;
}

.children .comment-author .avatar {
  height: 30px;
  left: -45px;
  width: 30px;
}

//
//** Comment Respond
//

#respond {
  padding: 0;
}
