/*--------------------------------------------------------------
 Navigation
--------------------------------------------------------------*/

.menu-top-menu-container {
  width: 100%;
}

ul.menu {
  display: block;
  list-style: none;
  margin: 0;
  text-align: center;

  a {
    border-bottom: transparent 2px solid;
    color: $black;
    display: block;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;

    &:focus,
    &:hover {
      border-bottom: $red 2px solid;
      color: $red;
    }
  }

  ul {
    display: none;
  }

  li {
    margin-left: 44px;

    &:first-child {
      margin-left: 0;
    }

    &:focus,
    &:hover {
      .sub-menu {
        display: inline;
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
      }
    }

    li {
      margin-left: 0;
    }
  }

  .menu-item {
    display: inline-block;
    list-style: none;
  }

  .current-menu-item {
    a {
      color: $red;
      display: block;
    }
  }

  .menu-item-has-children {
    position: relative;
  }

  .sub-menu {
    display: none;
  }
}
